.tasksCreatedWrapper {
  margin-top: 2.3125rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 1.5rem;
}

.createdTasks {
  color: var(--blue);
}

.completedTasks {
  color: var(--purple);
}

.createdTasks span,
.completedTasks span {
  color: var(--gray-200);
  background: #333333;
  border-radius: 999px;
  font-size: 12px;
  line-height: 15px;
  margin-left: 0.5rem;
  padding: 0.125rem 0.5rem;
}

.createdTasks span {
  min-width: 24px;
}

.completedTasks span {
  min-width: 52px;
}
