.tasksCreatedWrapper {
  margin-top: 2.3125rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  margin-bottom: 1.5rem;
}

.createdTasks {
  color: var(--blue);
}

.completedTasks {
  color: var(--purple);
}

.createdTasks span,
.completedTasks span {
  color: var(--gray-200);
  background: #333333;
  border-radius: 999px;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  margin-left: 0.5rem;
  padding: 0.125rem 0.5rem;
}

.createdTasks span {
  min-width: 24px;
}

.completedTasks span {
  min-width: 52px;
}

footer .contentEmpty {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}

footer .contentEmpty img {
  margin-bottom: 1rem;
  margin-top: 4rem;
}
